@inherits LayoutComponentBase

<body class="layout d-flex flex-column h-100">


    <div class="container">
        <main>
            <article class="content px-4">
                @Body
            </article>

            <BlazoredToasts />
        </main>
    </div>

    <footer class=" footer foot py-3 mt-auto">
        <div class="copyRight container">
            <p>©@DateTime.Now.Year Skole Oplæring.</p>
        </div>
    </footer>
</body>


