@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="">blazornav</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>*@


<nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="logoBox" id="LogoBox">
        <a class="navbar-brand" id="BoxImg" href="/">
            <img src="Img/Sonderborg_Logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </a>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" id="togglerBTN" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link navbar-btn" href="/">Begivenheder <span class="sr-only"></span></NavLink>
            </li>

            @*  //TODO Outcomment Session check*@
            @* @if (Context.Session.GetInt32("roleID") == 1)
            {*@

            <div class="nav-item dropdown ">
                <button class="nav-link navbar-btn dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li> <NavLink class="dropdown-item" href="/Register">Bruger Administration</NavLink></li>
                    <li> <NavLink class="dropdown-item" href="/Chips">Chips Administration</NavLink> </li>
                    <li> <NavLink class="dropdown-item" href="/TypesGroups">Types/Grupper Administration</NavLink> </li>
                    <li> <NavLink class="dropdown-item" href="/Event">Tilføj Begivenhed</NavLink></li>
                </ul>
            </div>
            @*}*@
        </ul>
        <NavLink class="nav-link navbar-btn logout-btn" @onclick="@LogoutClick" href="">Log ud</NavLink>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");


    protected override async Task OnInitializedAsync()
    {
       
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }

}

